VITE_API_URL=https://heimdall.bouw7.nl
VITE_API_KEY=
VITE_API_TOKEN=
VITE_APPLICATION_NAME=

VITE_PROJECT_URL=https://start.bouw7.nl/project/view?id=

VITE_MAIL_FROM=pdftoprojectreceipts@gmail.com
VITE_MAIL_TO=pdftoprojectreceipts@gmail.com
VITE_MAIL_PASSWORD=

VITE_GOOGLE_CLIENT_ID=1080584412186-1g58lg4kunlebu8lv4570plt1p2u8rbc.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=
VITE_GOOGLE_ACCESS_TOKEN=
VITE_GOOGLE_REFRESH_TOKEN=